* {
    box-sizing: border-box;
    max-width: 100vw;
}

#myInput {
    /* background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat; */
    width: 100%;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#myTable th,
#myTable td {
    text-align: left;
    padding: 12px;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header {
    background-color: #f1f1f1;
}

hr {
    width: 100%;
    height: 1px;
    border: 1px solid black;
    background-color: black;
}

#skriv {
    position: fixed;
    top: 0;
    z-index: 101;
}

#skriv label {
    z-index: 102;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 100%;
    border: none;
    outline: none;
    width: 10vmin;
    height: 10vmin;
    margin: 0;
    padding: 0;
    font-size: 10vmin;
    display: grid;
    place-items: center;
    justify-items: center;
    place-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    transform: rotate(45deg);
    transition: background-color 0.5s ease, transform 0.5s ease;
    cursor: pointer;
    user-select: none;
}


/* #skriv label:hover {
    background-color: rgba(153, 50, 204, 0.5);
    transform: rotate(90deg);
} */

#ul {
    /* display: none; */
    z-index: 100;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.5s ease-out;
    position: fixed;
    top: 2vmin;
    display: none;
}

@keyframes right {
    from {
        right: -300px;
        opacity: 0;
    }

    to {
        right: 13vmin;
        opacity: 1;
    }
}

@keyframes left {
    from {
        right: 13vmin;
        opacity: 1;
    }

    to {
        right: -300px;
        opacity: 0;
    }
}

#ul li {
    height: 5vmin;
    display: inline-block;
    font-size: 5vmin;
    /* top: 50%;
    transform: translateY(-50%); */
    background-color: rgba(0, 0, 255, 0.5);
    margin: auto;
    padding: 1vmin;
    box-sizing: initial;
    cursor: pointer;
    user-select: none;
    display: grid;
    place-items: center;
    display: none;
}

#checkbox {
    opacity: 0;
}

/* #checkbox:checked+#label+#ul {
    display: block;
    animation: right 0.5s forwards;
}

#checkbox:not(:checked)+#label+#ul {
    animation: left 0.5s forwards;
    pointer-events: none;
    display: none;
}

#checkbox:checked+#label {
    background-color: rgba(153, 50, 204, 0.5);
    transform: rotate(90deg);
}

#ul li:hover {
    background-color: rgba(153, 50, 204, 0.5);
    display: none;
} */

th img {
    width: auto;
    height: 100%;
    /* margin-left: auto; */
}

th#delete {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 5vh;
    min-height: 5vh;
    cursor: pointer;
    transition: filter 0.5s ease, background-color 0.5s ease;
}

th#delete:hover {
    background-color: red;
}

th#delete img {
    transition: filter 0.5s ease, background-color 0.5s ease;
}

th#delete:hover img {
    filter: invert(100%)
}

th {
    height: 5vh;
    min-height: 5vh;
    font-size: 25px;
}

.delete {
    border-left: 1px solid black;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.check {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

table {
    max-width: 100vw;
    box-sizing: border-box;
}

.swipe-out .delete-btn {
    padding: 6px 8px;
    border-radius: 6px;
    border: solid 1px rgb(96, 23, 18);
    background-image: linear-gradient(top, rgb(242, 153, 157), rgb(213, 62, 41));
    background-image: -webkit-linear-gradient(top, rgb(242, 153, 157), rgb(213, 62, 41));
    background-image: -moz-linear-gradient(top, rgb(242, 153, 157), rgb(213, 62, 41));
    background-image: -o-linear-gradient(top, rgb(242, 153, 157), rgb(213, 62, 41));
    text-shadow: 0em -0.1em rgb(51, 51, 51);
    color: #fff;
    font: bold 14px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
    height: 90%;
    text-align: center;
    display: grid;
    place-items: center;
}

ul {
    list-style-type: none;
    margin: 5px;
    position: relative;
}

ul li {
    width: 100%;
    height: 5vh;
    border-radius: 0;
    /* background-color: gray; */
    margin: 10px;
    margin-left: 0px;
    padding-left: 0px;
    padding: 5px;
    /* color: white; */
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}

#liste,
#liste2 {
    width: 100%;
    margin: 0;
    padding: 1px;
    padding-left: 0;
    /* padding-right: 7.5px; */
    background-color: transparent;
    /* border-radius: 6px;
    border: 1px solid black; */
}

#liste li,
#liste2 li {
    width: 100%;
}

.swiped {
    animation: in 0.5s forwards ease-out;
}

@keyframes in {
    from {
        right: -300px;
        opacity: 0;
        display: block;
        position: absolute;
    }

    to {
        right: 0.5vw;
        opacity: 1;
    }
}

.clicked {
    animation: out 0.5s forwards ease-out;
    /* opacity: 0; */
    /* right: -300px; */
    pointer-events: none;
}

@keyframes out {
    from {
        right: 0.5vw;
        opacity: 1;
    }

    to {
        right: -300px;
        opacity: 0;
        display: none;
        position: initial;
    }
}

.btn {
    position: absolute;
    /* background-color: red; */
    padding: 6px 8px;
    border-radius: 6px;
    border: solid 1px rgb(96, 23, 18);
    background-image: linear-gradient(top, rgb(242, 153, 157), rgb(213, 62, 41));
    background-image: -webkit-linear-gradient(top, rgb(242, 153, 157), rgb(213, 62, 41));
    background-image: -moz-linear-gradient(top, rgb(242, 153, 157), rgb(213, 62, 41));
    background-image: -o-linear-gradient(top, rgb(242, 153, 157), rgb(213, 62, 41));
    text-shadow: 0em -0.1em rgb(51, 51, 51);
    color: #fff;
    font: bold 14px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
    height: 4.5vh;
    top: 0.25vh;
    display: grid;
    place-items: center;
    border-radius: 6px;
    user-select: none;
    cursor: pointer;
    z-index: 100;
}

.tr,
.ter {
    position: relative;
    padding: 0;
    padding-left: 2px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.tr *,
.ter * {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

body {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.black {
    color: black;
}

.ter div.tingen {
    text-decoration: line-through;
}

.buttn {
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    border: solid 1px rgb(96, 23, 18);
    background-image: linear-gradient(top, rgb(242, 153, 157), rgb(213, 62, 41));
    background-image: -webkit-linear-gradient(top, rgb(242, 153, 157), rgb(213, 62, 41));
    background-image: -moz-linear-gradient(top, rgb(242, 153, 157), rgb(213, 62, 41));
    background-image: -o-linear-gradient(top, rgb(242, 153, 157), rgb(213, 62, 41));
    text-shadow: 0em -0.1em rgb(51, 51, 51);
    color: #fff;
    font: bold 14px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    height: 2px;
    border: 2px solid black;
    background-color: black;
}

#navnpating {
    width: 100%;
    height: 10vh;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}

#navnpating+hr,
#navnpatinghr {
    margin-top: 0;
}

#colorselect {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    margin: 0;
    padding: 0;
    display: none;
    width: 100vw;
    height: 90vh;
    bottom: 0;
    left: 0;
    flex-direction: column;
    z-index: 104;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.column {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 6px;
    /* background-color: blue; */
    cursor: pointer;
}

.en {
    background-color: #f6bd60;
}

.to {
    background-color: #fb4d3d;
}

.tre {
    background-color: #6874e8;
}

.fire {
    background-color: #84a59d;
}

.fem {
    background-color: #f28482;
}

.seks {
    background-color: #84e296;
}

.syv {
    background-color: #0d5d56;
}

.atte {
    background-color: #258ea6;
}

.ni {
    background-color: #41393e;
}

.buttnen {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buttnen * {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    font-weight: bolder;
}

.pluss:hover {
    background-color: green;
    color: white;
}

.minus:hover {
    background-color: red;
    color: white;
}

.pluss,
.minus {
    cursor: pointer;
    user-select: none;
}

.tall {
    background-color: lightgrey;
    color: black;
}

.buttnen {
    width: 10%;
    height: 100%;
}

@media only screen and (max-width: 400px) {
    .buttnen {
        width: 20%;
        height: 100%;
    }
}

@media only screen and (max-width: 200px) {
    .buttnen {
        width: 30%;
        height: 100%;
    }
}

@media only screen and (max-width: 150px) {
    .buttnen {
        width: 40%;
        height: 100%;
    }
}